.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 100vh;
  transition: 0.3s;
  left: 0;
  z-index: 9999999;
  background: #141416;
}

.videoContainer {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.closeButton {
  min-width: auto;
  border-radius: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0;
}

.content {
  flex-shrink: 0;
  padding: 32px;
  padding-top: 42px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 102px;
  background: linear-gradient(180deg, rgba(20, 20, 22, 0) 0%, #141416 100%);
  transform: translateY(-100%);
}

.icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e45f35;
  border-radius: 40px;
  margin-bottom: 16px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -38px);
  z-index: 1;
}

.icon > span {
  filter: brightness(100);
}

.name {
  font-family: "Graphik";
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #fcfcf9;
  margin-bottom: 16px;
}

.description {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #cecad7;
  margin-bottom: 16px;
  margin-bottom: 48px;
}

.launch {
  width: 100%;
  height: 56px;
  background: #fcfcf9;
  border-radius: 250px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #141416;
  text-transform: none;
  margin-bottom: 12px;
}

.back {
  width: 100%;
  height: 40px;
  text-transform: none;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fcfcf9;
}

.open {
  top: 0;
}
