.newsletterWrapper {
    border-radius: 24px;
    background-color: #0c1d37;
    margin-top: 13%;
    margin-bottom: 13%;
    position: relative;
}

.textWrapper {
  padding: 70px 30px 70px 118px !important;
}

.newsletter_join {
    margin-top: 20px;
    margin-bottom: 24px;
    color: #0c1d37;
    font-size: 45px;
    line-height: 117%;
    font-weight: 700;
    letter-spacing: -0.7px;
    color: white;
}

.newsletter_notes {
    color: #9da3ab;
    margin-bottom: 34px;
}

.input {
  margin-bottom: 10px;
  padding: 18px 20px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  color: #fff;
  font-size: 18px;
  line-height: 120%;
}

.input:focus {
  outline: none;
}

.join_button {
    padding: 18px 40px;
    border-radius: 50px;
    background-color: #fff;
    -webkit-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;
    color: #0c1d37;
    font-size: 18px;
    line-height: 115%;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 10px;
}

.join_button:hover {
    background-color: #d8bf7d;
}

.imageWrapper {
  padding: 0 !important;
  position: relative;
}

.imageContainer {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}

.starImageContainer {
  width: 100%;
  height: 100%;
  top: 80px;
  left: 75px;
  position: relative;
}

.fire_image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
  object-fit: cover;
}

.animationCircl1 {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 25px;
  right: 100px;
  z-index: 2;
}

.animationCircl2 {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 100px;
  right: 20px;
  z-index: 2;
}

.animationCircl3 {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 150px;
  z-index: 2;
}

.animationCircl4 {
  position: absolute;
  width: 156px;
  height: 156px;
  bottom: -75px;
  left: -40px;
  z-index: 2;
}

@media (max-width: 900px) {
  .imageContainer {
    left: 123px
  }
}

@media (max-width: 600px) {
  .main_box {
      padding-top: 30%;
  }

  .acc_box {
      width: 100% !important;
      margin: auto;
  }

  .web_view {
      display: none !important;
  }
}