.main_box {
    padding-top: 17%;
    z-index: 100;
}

.added {
    margin-top: 0;
    margin-bottom: 24px;
    color: #c1ab70;
    font-size: 48px;
    line-height: 117%;
    font-weight: 700;
    letter-spacing: -0.7px;
}

.text_accent {
    display: inline-block;
    padding-right: 0.25em;
    padding-left: 0.25em;
    border-radius: 8px;
    background-color: rgba(193, 171, 112, 0.25);
    color: #c1ab70;
}

.constantly {
    color: white;
    font-size: 18px;
    line-height: 170%;
    font-weight: 400;
    margin-bottom: 34px;
}

.more_button {
    padding: 18px 40px;
    border-radius: 50px;
    background-color: #c1ab70;
    color: #fff;
    font-size: 18px;
    line-height: 115%;
    font-weight: 500;
    text-transform: capitalize;
}

.more_button:hover {
    background-color: #d8bf7d;
}

.relative_box {
    position: relative;
}

.web_view {
    display: block !important;
}

.blackglaxy_Image {
    width: 300px;
    height: 398px;
    position: absolute;
    border-radius: 24px;
    transform: rotate(-20deg) !important;
    left: 6%;
    margin-top: -5%;
}

.galaxy_animation {
    animation: digitial 5s linear;
    animation-fill-mode: forwards;
}

.blackglaxy_Image1 {
    width: 320px;
    height: 550px;
    position: absolute;
    border-radius: 24px;
    right: -40%;
    margin-top: 10%;
    transform: rotate(-20deg) !important;
}

.blackglaxy_Image2 {
    width: 600px;
    height: 300px;
    position: absolute;
    border-radius: 24px;
    left: 55%;
    margin-top: -50%;
    transform: rotate(-20deg) !important;
    z-index: 1;
}

@keyframes digitial {
    from {
        top: 100px;
    }

    to {
        top: 80px;
    }
}

.galaxy_animation1 {
    animation: digitial1 5s linear;
    animation-fill-mode: forwards;
}

@keyframes digitial1 {
    from {
        top: 60px;
        transform: rotate(20deg);
    }

    to {
        top: 100px;
        transform: rotate(40deg);
    }
}

.circle_animation_digital {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 40%;
    z-index: 1000;
    top: 0%;
    animation: digitial2 5s linear;
    animation-fill-mode: forwards;
}

@keyframes digitial2 {
    from {
        left: 200px;
        transform: rotate(20deg);
    }

    to {
        left: 250px;
        transform: rotate(40deg);
    }
}

.circle_animation_digital1 {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 10%;
    z-index: 1000;
    top: 25%;
    animation: digitial3 5s linear;
    animation-fill-mode: forwards;
}

@keyframes digitial3 {
    from {
        right: 50px;
        transform: rotate(20deg);
    }

    to {
        right: 100px;
        transform: rotate(40deg);
    }
}

.circle_animation_digital2 {
    width: 112px;
    height: 112px;
    position: absolute;
    left: 50%;
    top: 150px;
    z-index: 1000;
    animation: digitial5 5s linear;
    animation-fill-mode: forwards;
}

@keyframes digitial5 {
    from {
        top: 150px;
        transform: rotate(20deg);
    }

    to {
        top: 70px;
        transform: rotate(40deg);
    }
}



@media (max-width: 600px) {
    .main_box {
        padding-top: 30%;
    }

    .web-view {
        display: none !important;
    }
}