.main_box {
    padding-top: 17%;
    z-index: 100;
}

.relative_box {
    position: relative;
}

.wall_image {
    position: relative;
    z-index: 1000;
    width: 100%;
    border-radius: 24px;
}

.circle_wall_image {
    position: absolute;
    width: 51px;
    height: 51px;
    bottom: -6%;
    left: -6%;
    z-index: 100;
}

.animation {
    animation: myothermove12 5s linear;
    animation-fill-mode: forwards;
}

.animation1 {
    animation: myothermove11 5s linear;
    animation-fill-mode: forwards;
}

.circle_wall_image1 {
    position: absolute;
    width: 127px;
    height: 127px;
    bottom: -4%;
    left: -5%;
}

.circle_wall_image2 {
    position: absolute;
    width: 64px;
    height: 64px;
    bottom: -12%;
    left: 10%;
}

.added {
    margin-top: 0;
    margin-bottom: 24px;
    color: #c1ab70;
    font-size: 48px;
    line-height: 117%;
    font-weight: 700;
    letter-spacing: -0.7px;
}

.text_accent {
    display: inline-block;
    padding-right: 0.25em;
    padding-left: 0.25em;
    border-radius: 8px;
    background-color: rgba(193, 171, 112, 0.25);
    color: #c1ab70;
}

.constantly {
    color: white;
    font-size: 18px;
    line-height: 170%;
    font-weight: 400;
    margin-bottom: 34px;
}

.about_added {
    margin-left: 10%;
    padding-top: 21%;
}

.mode_box {
    display: flex;
    margin-bottom: 5px;
}

.check_box {
    display: flex;
    width: 36px;
    height: 36px;
    margin-right: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
}

.check_icon {
    width: 15px;
}

.vr_mode {
    margin-top: 5px;
    margin-bottom: 14px;
    color: #c1ab70;
    font-size: 18px;
    line-height: 135%;
    font-weight: 700;
    letter-spacing: -0.2px;
}

@media (max-width: 600px) {
    .main_box {
        padding-top: 30%;
    }
}