.heroContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 48px;
  padding-right: 48px;
}

.title {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 82px;
  line-height: 100%;
  color: #c1ab70;
  text-align: center;
  margin-bottom: 42px;
}

.description {
  width: 100%;
  max-width: 900px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 42px;
}

.scrollDown {
  cursor: pointer;
}

.body {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 24px;
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 150%;
  color: #a4a9ad;
}

.body b {
  font-weight: 600;
}

.subtitle {
  font-size: 32px;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 150%;
}

@media (max-width: 768px) {
  .heroContainer {
    align-items: flex-start;
  }
  .title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 16px;
    text-align: left;
  }

  .description {
    margin-bottom: 32px;
    text-align: left;
  }
}
