.main_box {
    padding-top: 17%;
    z-index: 100;
}

.Super_ganit {
    text-align: center;
    color: #c1ab70;
    font-size: 60px;
    font-weight: 700;
    line-height: 122%;
    margin-bottom: 28px;
    animation-name: topFadeOut;
    animation-duration: 5s;
}

.text_accent {
    display: inline-block;
    padding-right: 0.25em;
    padding-left: 0.25em;
    border-radius: 8px;
    background-color: rgba(193, 171, 112, 0.25);
    color: #c1ab70;
}

.text_description {
    max-width: 500px;
    margin-bottom: 34px;
    color: #fff;
    text-align: center;
    margin: auto;
    font-size: 18px;
    line-height: 30px;
}

.about_image {
    width: 100%;
    height: 480px;
    border-radius: 24px;
    margin-top: 10%;
    object-fit: cover;
}

.white_about_box {
    align-items: center;
    border-radius: 24px;
    background-color: #fff;
    padding: 45px 30px;
    justify-content: center;
    margin-top: 20px;
}

.about_date {
    margin-bottom: 10px;
    color: #c1ab70;
    font-size: 55px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
}

.about_title {
    margin-top: 0;
    margin-bottom: 18px;
    color: #0c1d37;
    font-size: 22px;
    line-height: 125%;
    font-weight: 700;
    letter-spacing: -0.3px;
    text-align: center;
}


@media (max-width: 600px) {
    .main_box {
        padding-top: 30%;
    }


}